player-name {
    .name-form{
        height: 100%;
        .name-label{
            color: white;
        }
        .continue-button{
        }
        .width-50{
            width: 50%;
        }
    }

}

.flex-1{
    flex:1;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.font-color-primary{
    color: $theme-color-1;
}

.font-color-secondary{
    color: $theme-color-2;
}

.align-center{
    justify-content: center;
    align-items: center;
}