player-name {
    .name-form{
        height: 100%;
        
        .continue-button{
        }
        .width-50{
            width: 50%;
        }
    }
}

.font-white{
    color: white;
}

.flex-1{
    flex:1;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.font-color-primary{
    color: $theme-color-1;
}

.font-color-secondary{
    color: $theme-color-2;
}
* {
    font-size: 3rem;
}


.align-center{
    justify-content: center;
    align-items: center;
}

.stretch{
    align-self: stretch;
}

.space-between{
    justify-content: space-around;
}
