
<div class="flex align-center flex-column height-100">
  <div class="flex space-between align-center stretch" padding>
    <div *ngFor="let mode of challengeProvider.battleModes" class="custom-control flex custom-checkbox">
          <div class="checkbox">
            <input class="check" type="checkbox" id="check"/>
            <label for="check"></label>
            <div class="rays">
              <div class="ray"></div>
              <div class="ray"></div>
              <div class="ray"></div>
              <div class="ray"></div>
              <div class="ray"></div>
              <div class="ray"></div>
              <div class="ray"></div>
              <div class="ray"></div>
              <div class="ray"></div>
              <div class="ray"></div>
              <div class="ray"></div>
              <div class="ray"></div>
              <div class="ray"></div>
              <div class="ray"></div>
              <div class="ray"></div>
              <div class="ray"></div>
            </div>
          </div>
      <!-- <input type="checkbox" id="{{mode.name}}" [(ngModel)]="mode.state" checked> -->
      <label  class="font-white" for="{{mode.name}}">{{mode.name}}</label>
    </div>
  </div>
  <button ion-button (click)="clickStart()" class="font-color-secondary continue-button" color="primary" type="submit">Comenzar Batalla</button>
</div>
  