<div class="flex flex-column space-around height-100 align-center">
    <div class="flex baseline text-center space-around width-100">
        <ion-icon class="align-self-center" color="white" name="arrow-dropleft"></ion-icon>
        <div>
            <h1 class="font-white">Barra 1</h1>
            <h3 class="font-white">Hard Mode</h3>
        </div>
        <ion-icon class="align-self-center"  color="white" name="arrow-dropright"></ion-icon>
    </div>
    <input class="height-30 width-60 text-center font-big" type="text" disabled value="0">
    <h3 class="font-white">{{challengeProvider.competitors[0]}}</h3>
</div>