<div class="flex space-around">
  <div class="flex flex-column align-center space-between  width-30">
    <h3 class="font-white">Escena</h3>
    <input class="height-100 width-80 text-center font-big" type="text" disabled value="{{getExtraPoints(0)}}" autofocus>
  </div>
  <div class="flex flex-column align-center space-between width-30">
    <h3 class="font-white">Flow</h3>
    <input class="height-100 width-80 text-center font-big" type="text" disabled value="{{getExtraPoints(1)}}" autofocus>
  </div>
  <div class="flex flex-column align-center width-30 space-between">
    <h3 class="font-white">Skills</h3>
    <input class="height-100 width-80 text-center font-big" type="text" disabled value="{{getExtraPoints(2)}}" autofocus>
  </div>
  
</div>
